body{
  margin:0;
  padding:0;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}


.header{
  padding: 30px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  width:100%;
  background-color: rgb(255, 115, 0);
}

.application-title{
  font-size: 2rem;
  text-align: center;
  margin:0;
  color:white;
}

.library-section{
  /* border: 1px solid black; */
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 20px 0;
  gap:20px;
}

.add-button{
  font-size:2rem;
  padding: 10px 20px;
}

.book-catalog{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width:100%;
  gap: 20px;
  /* border:1px solid blue; */
}

.book-card{
  padding: 20px;
  /* border: 1px solid red; */
  display:flex;
  flex-direction:column;
  align-items: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  gap: 20px;
  justify-content: space-between;
}

.book-details{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.book-details > h1{
  margin:0;
}

.button-group{
  display:flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.delete-button,
.edit-button,
.toggle-button{
  font-size:1.5rem;
  padding: 10px 20px;
  border:none;
  border-radius: 5px;
}

.toggle-button{
  color:white;
  background-color: rgb(118, 247, 118);
}

.delete-button{
  color:white;
  background-color: rgb(255, 110, 132);
}

.edit-button{
  color:white;
  background-color: rgb(79, 211, 255)
}


.book-form{
  position:absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  border-radius: 5px;
  right:0;
  left:0;
  margin-left:auto;
  margin-right:auto;
  top: 35%;
  padding: 20px;
  width: 30%;
  z-index: 1;
  display:flex;
  flex-direction: column;
  text-align: center;
  gap:10px;
  opacity:0;
  pointer-events: none;
  transition: 150ms opacity ease-in-out;
}

.book-form.opened{
  opacity:1;
  pointer-events:auto;
}

.form-inputs{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.form-row > input{
  padding: 10px 20px;
  font-size: 1.5rem;
  width:100%;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.form-row:last-child{
  display:flex;
}

.form-row:last-child > label{
  width:90%;
  font-size: 1.5rem;
}

.form-row:last-child > input{
  width:10%;
}

.form-buttons{
  display:flex;
  gap: 10px;
  justify-content: center;
}

.form-buttons > button{
  width:100%;
  padding: 10px 20px;
  font-size:1.5rem;
}

.form-row > input:invalid:required{
   background-image: linear-gradient(to right, pink, lightgreen);
}